.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
data/
models/
.history/
.vscode-history/
reports/*.csv
reports/*.txt
reports/*.json
*.pt
runs/detect/train/*.png
runs/detect/train/*.jpg
runs/detect/train/*.yaml
runs/detect/train/*.csv
runs/detect/train2/*.png
runs/detect/train2/*.jpg
runs/detect/train2/*.yaml
runs/detect/train2/*.csv